body {
  background-color: #8e8989;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  background-color: aliceblue;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

h1 {
  color: #0d6efd;
  font-weight: bold;
}

p {
  color: #000000;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}